objs/
.vs/
*.pdb
*.ilk
*.iobj
*.ipdb
bin/imgui.ini
bin/Engine.exe
bin/Subvert.exe
libs/release/Cal3D.lib
libs/debug/Cal3Dd.lib
maxscript/Subvert_Maxscript.ini
bin/aresults.cpuprofile
bin/data/cache
fmod_Subvert/.cache
fmod_Subvert/.unsaved
fmod_Subvert/.user
bin/Engine.lib
bin/Engine.exp
bin/Subvert.lib
bin/Subvert.exp
maxscript_1307.zip
bin/data/materials/cavelevel_new_walls/Material #25.mat
*.sv$
level/cavelevel_new_walls_backup.max
level/floor/srgb.zip
level/floor/srgb/.autosave
level/floor/srgb/templefloor_tiled.resources
bin/EON.exe
bin/EON.lib
bin/EON.exp
libs/debug/Cal3Dd.idb
level/temple/tileables/CygnusScrotum/CygnusBioMass_2021_11_17_23-36-48.7z
